# Python
__pycache__/
*.py[cod]
.venv/
venv/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# Database
*.db

# OS
Thumbs.db
.DS_Store

# Coverage
.coverage
coverage/
htmlcov/

# Test cache
.pytest_cache/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/